<i class="close icon"></i>
<div class="header">
  Message from <%= @message.sender %>
</div>

<div class="content">
  <div class="description">
    <div class="ui header"><%= @message.subject %></div>
    <p><%= @message.body %></p>
  </div>
</div>

<div class="actions">
  <%= link_to 'Close', messages_path, class: 'ui black deny button' %>
  <a class="ui positive right labeled icon button" href="<%= new_message_path(email: @message.sender.email) %>">
    <i class="right mail icon"></i>
    Reply
  </button>
</div>