<div class="ui grid">
  <div class="row">
    <div class="four wide column"></div>

    <div class="twelve wide column">
      <h1>Sent Messages</h1>
    </div>
  </div>

  <div class="row">
    <div class="four wide column">
      <%= render 'messages/vertical_menu' %>
    </div>

    <div class="twelve wide column">

      <table class="ui violet table">
        <thead>
          <tr>
            <th class="three wide column">Recipient</th>
            <th class="three wide column">Subject</th>
            <th class="three wide column">Created at</th>
            <th class="three wide column">Read at</th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <% if message.read? %>
                <td><%= message.recipient || "Nobody but chat bot" %></td>
                <td><%= message.subject %></td>
                <td><%= message.created_at.strftime("%e %b %Y %H:%M%p") %></td>
                <td><%= message.read_at.strftime("%e %b %Y %H:%M%p") %></td>
              <% else %>
                <td><strong><%= message.recipient || "Nobody but chat bot" %></strong></td>
                <td><strong><%= message.subject %></strong></td>
                <td><strong><%= message.created_at.strftime("%e %b %Y %H:%M%p") %></strong></td>
                <td><strong>Unread</strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if @messages.empty? %>
        <div class="ui warning message">
            Send someone a message. No friends?
        </div>
      <% end %>

    </div>
  </div>
</div>