<%= form_tag sessions_path do %>
  <div class="field" >
    <%= text_field_tag :email, params[:email], placeholder: 'Fill your email here' %>
  </div>

  <div class="field" >
    <%= password_field_tag :password, nil, placeholder: 'Fill your password here' %>
  </div>
  <%= submit_tag "Sign In", class: 'ui green button', data: {disable_with: "Signing in..."} %>
  <% if @sign_up_button.present? %>
    <%= link_to 'Sign Up', new_user_path, class: 'ui violet right button' %>
    <a class="ui facebook button" href="/auth/facebook">
      <i class="facebook icon"></i>
      Sign in with Facebook
    </a>
  <% end %>
<% end %>