<%= flash_messages %>

<h1>Friends</h1>

<table class="ui violet table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.friends.find_by_id(current_user.id) %>
        <tr>
          <td><%= friend.name %></td>
          <td><%= friend.email %></td>
          <td><%= link_to 'Send Message', new_message_path, class: 'ui violet button' %></td>
          <td><%= link_to "Unfriend", unfriend_path(:friend_id => friend), :method => :delete, class: 'ui negative button' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>