<%= flash_messages %>

<div class="ui grid">
  <div class="row">
    <div class="four wide column"></div>

    <div class="twelve wide column">
      <h1>Friend requests</h1>
    </div>
  </div>

  <div class="row">
    <div class="four wide column">
      <%= render 'users/vertical_menu' %>
    </div>

    <div class="twelve wide column">
      <table class="ui violet table">
        <thead>
          <tr>
            <th class="three wide column">Name</th>
            <th class="three wide column">Email</th>
            <th class="six wide column"></th>
          </tr>
        </thead>
        <tbody>
          <% @friend_requests.each do |user| %>
            <% if !user.inverse_friends.find_by_id(current_user.id) %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td class="right aligned">
                  <%= link_to "Accept", friendships_path(:friend_id => user), :method => :post, class: 'ui positive button' %>
                  <%= link_to "Decline", unfriend_path(:friend_id => user), :method => :delete, class: 'ui negative button' %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <% if @number_of_friend_requests == 0 %>
        <div class="ui info message">
          No friend request
        </div>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="four wide column"></div>

    <div class="twelve wide column">
      <h1>People you may know</h1>
    </div>
  </div>

  <div class="row">
    <div class="four wide column"></div>

    <div class="twelve wide column">
      <table class="ui violet table">
        <thead>
          <tr>
            <th class="three wide column">Name</th>
            <th class="three wide column">Email</th>
            <th class="six wide column"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if !user.friends.find_by_id(current_user.id) %>
              <% if user != current_user %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td class="right aligned">
                    <% if !user.inverse_friends.find_by_id(current_user.id) %>
                      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post, class: 'ui positive button' %>
                    <% else %>
                      <%= link_to "Cancel friend request", unfriend_path(:friend_id => user), :method => :delete, class: 'ui button' %>
                    <% end %>
                  </td>

                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>