<div class="ui form grid">
  <div class="five wide column"></div>

  <div class="six wide column">
    <h1 class="ui center aligned violet header">Sign Up</h1><br>   
    <%= form_for @user do |f| %>
      <% if @user.errors.size > 0 %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            <%= @user.errors.full_messages.to_sentence %>
          </div>
        </div>
      <% end %>
      <div class="field" >
        <%= f.text_field :name, placeholder: 'Fill your name here' %>
      </div>

      <div class="field" >
        <%= f.text_field :email, placeholder: 'Fill your email here' %>
      </div>

      <div class="field" >
        <%= f.password_field :password, placeholder: 'Fill your password here' %>
      </div>

      <br>
      <%= f.submit 'Create Account', class: 'ui green button' %>
    <% end %>
  </div>

  <div class="five wide column"></div>
</div>