<div class="ui top violet inverted menu">
  <a class="item", href="<%= root_path %>" >
    Home
  </a>
  <a class="item">
    Inbox
  </a>
  <a class="item", href="<%= new_message_path %>">
    New Message
  </a>
  <a class="item", href="">
    Friends
  </a>
  <% if !signed_in? %>
    <a class="item", href="<%= new_session_path %>">
      Sign In
    </a>
    <a class="item", href="<%= new_user_path %>">
      Sign Up
    </a>
  <% end %>
  <div class="right menu">
    <% if signed_in? %>
      <a class="item">
        Signed in as <%= current_user %>
      </a>
      <%= link_to "Log Out", log_out_path, method: 'delete', class: 'item' %>
    <% end %>
  </div>
</div><br>