<div class="ui top violet inverted menu">
  <% if signed_in? %>
    <a class="item", href="<%= messages_path %>" >
      Inbox
    </a>
    <a class="item", href="<%= users_path %>">
      Friendships
    </a>
    <a class="item", href="<%= new_message_path %>">
      Send Message
    </a>
  <% else %>
    <a class="item", href="<%= root_path %>" >
      Jchat
    </a>
    <a class="item", href="<%= new_session_path %>">
      Sign In
    </a>
    <a class="item", href="<%= new_user_path %>">
      Sign Up
    </a>
  <% end %>
  <div class="right menu">
    <% if signed_in? %>
      <a class="item">
        Signed in as <%= current_user %>
      </a>
      <%= link_to "Log Out", log_out_path, method: 'delete', class: 'item' %>
    <% end %>
  </div>
</div><br>